{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "import/no-unresolved": 0,
    "max-len": 0,
    "no-underscore-dangle": 0,
    "no-continue": 0,
    "newline-per-chained-call": 0,
    "no-multiple-empty-lines": 0,
    "eol-last": 0
  }
}
